run = "./cloudflared tunnel run --url http://localhost:5000 0845a982-9657-4b64-b5b2-01d07b7c08aa & python main.py"
modules = ["nodejs-20"]

[userenv]

[userenv.shared]
GOOGLE_CALLBACK_URL = "https://washbizhub.com/api/auth/google/callback"

[userenv.production]
DISABLE_CLOUDFLARE_AUTH = "true"

[[ports]]
localPort = 5000
externalPort = 80
